name: Run Tests

on:
  workflow_dispatch:
  workflow_call:

jobs:
  laravel-tests:
    name: Run Package Tests
    runs-on: ubuntu-latest

    steps:
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Execute tests via Pest
        run: vendor/bin/pest
